.EditOPD {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EditOPD-SearchFrom {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
.EditOPD-From {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
}
@media (max-width: 769px) {
  .EditOPD-From,
  .EditOPD-SearchFrom {
    width: 90%;
  }
}
